@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pre-implement don't delete*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Custom CSS Here */
#wrapper{
    height: 100vh;
    display: grid;
    place-items: center;
}